#SConnect, #BioCon, #BioConnect, #HCon {
    margin: auto;
    //height: 100%;
    width: 50%;
    text-align: center;

    h1{
        background: none;
        color: $font;
        //position: relative;
        //top: 50%;
        //left: 50%;
        //-webkit-transform: translate(-50%, -50%);
        //transform: translate(-50%, -50%);
        font-size: 50px;
    }
    /*
    p{
        margin-left: 50px;
        margin-right: 50px;
    }
    */
    .icon{
        width: auto;
        vertical-align:middle;
        height: 80px;
    }

}
.SciConnect, .BioConcept, .BioConnect, .HumanConcept {
    margin: 10px;
    padding: 20px;
    /*
    table {
        border-collapse: collapse;
        border: 2px black solid;
    }
    td {
        border: 1px black solid;
        padding: 5px;
    }
    */
    .BodyDataTable {
        border-collapse: collapse;
        border: 2px black solid;
        width: 85%;
        height: 500px;
    }
}
.BioConcept {
    height: 50%;
    .GIT_image {
        height: 80%;
        width: auto;
        //float: left;
    }
}
.HumanConcept {
    .Digestion_image {
        height: auto;
        width: 70%;
    }
}
.BioConnect {
    .Week6_ref {
        width: 50%;
        float: left;
    }
    .Week10_ref {
        width: 50%;
        float: right;
    }
}
body{
    margin-top: 50px;
    margin-bottom: 50px;
    .TopLink{
        text-align: center;
    }
}
.footer {
    position: relative;
    margin: 0px;
    clear: both;
}