@import "variables";
@import "mixins";

#WeeklyRes, #SConnect, #BioCon, #BioConnect, #HCon {
    margin: auto;
    height: 100%;
    width: 100%;

    h1{
        background: none;
        color: $font;
        //position: relative;
        //top: 50%;
        //left: 50%;
        //-webkit-transform: translate(-50%, -50%);
        //transform: translate(-50%, -50%);
        font-size: 50px;
    }
}
.WR {
    padding: 0px 20px;
    .Week1, .Week2, .Week3, .Week4, .Week5, .Week6, .Week7, .Week8, .Week9, .Week10 {
        embed { //resize issues
            width: 100%;
            height: 600px;
            object-fit: contain;
        }
        &__quiz{
            width: 50%;
            float: left;
            padding: 0px 10px;
        }
        &__product{
            width: 50%;
            float: right;
            padding: 0px 10px;
        }
    }
}
.footer {
    //position: relative;
    bottom: 0;
}