#SConcept, #SSkill, #SConnect, #BioCon, #BioSkill, #BioConnect, #HCon, #HSkill, #HConnect {
    margin: auto;
    //height: 100%;
    width: 50%;
    text-align: center;

    h1{
        background: none;
        color: $font;
        //position: relative;
        //top: 50%;
        //left: 50%;
        //-webkit-transform: translate(-50%, -50%);
        //transform: translate(-50%, -50%);
        font-size: 50px;
    }
    /*
    p{
        margin-left: 50px;
        margin-right: 50px;
    }
    */
    .icon{
        width: auto;
        vertical-align:middle;
        height: 80px;
    }

}
.SciConcept, .SciSkill, .SciConnect, .BioConcept, .BioSkill, .BioConnect, .HumanConcept, .HumanSkill, .HumanConnect {
    margin: 10px;
    padding: 20px;
    ol{
        text-align: left;
        font-size: small;
    }
}
.SciConcept{
    p{
        text-align: left;
    }
    ol{
        font-size: medium;
    }
    ul{
        text-align: left;
    }
}
.SciSkill{
    embed { //resize issues
        width: 100%;
        height: 600px;
        object-fit: contain;
    }
}
.SciConnect {
    .bib{
        text-align: left;
        p, a{
            font-size: small;
            text-align: left;
        }
        h3{
            text-align: center;
        }
        a:link {
            text-decoration: none;
        }
        a:visited {
            text-decoration: none;
        }
        a:hover{
            text-decoration: underline;
        }
    }
}
.BioConcept {
    .GIT_image {
        width: 80%;
        //float: left;
    }
}
.BioSkill{
    p, dl{
        text-align: left;
    }
    .list{
        width:50%;
    }
    .list1{
        //width:48%;
        float:left;
    }
    .list2{
        //width:52%;
        float: right;
    }
}
.BioConnect {
    .Week6_ref {
        width: 50%;
        float: left;
    }
    .Week10_ref {
        width: 50%;
        float: right;
    }
}
.HumanConcept {
    .DGInfo{
        height: 450px;
        display: flex;
        align-items: center;
        .Digestion_image {
            height: auto;
            width: 60%;
            float:left;
        }
        .DigestGame{
            width: 40%;
            float:right;
        }
    }
    .FirstAid{
        width:100%;
        ol{
            font-size: medium;
        }
    }
}
.HumanSkill{
    p, ul{
        text-align: left;
    }
    .list{
        min-height: 800px;
        width:50%;
    }
    .list1{
        //width:48%;
        float:left;
    }
    .list2{
        //width:52%;
        float: right;
    }
}
.HumanConnect{
    p{
        text-align: left;
    }
}
body{
    margin-top: 50px;
    margin-bottom: 50px;
    .TopLink{
        text-align: center;
    }
}
.BodyDataGraph{
    border-collapse: collapse;
    border: 2px black solid;
    width: 67%;
    height: 380px;
}
.BodyDataTable {
    border-collapse: collapse;
    border: 2px black solid;
    width: 80%;
    height: 500px;
    float:left;
}

.footer {
    position: relative;
    margin: 0px;
    clear: both;
}