@import "variables";
@import "mixins";
@use "sass:math";

.cs290_blog_bodycontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    

    &_blog{
        width: 800px;
        //height: 400px;
        padding: 30px;

        border: 1px solid $SS-color4;
        box-sizing: border-box;
        border-radius: 50px;
        overflow: hidden;

        &:not(:last-child){
            margin-bottom: 25px;
        }

        &_title{
            text-align: left;
            font-weight: bold;
            font-size: 30px;
            color: $SS-color4;
            margin: 10px;

            &_a{                
                cursor: pointer;
                text-decoration: none;
                color: $SS-color4;

                opacity: .8;
                transition: .15s;

                &:hover {
                    opacity: 1;
                    transition: .15s;
                    cursor: pointer;
                }
            }
        }
        &_des{
            margin: 10px;

            &_ul{
                list-style-type: circle;

                &_li{
                    color: $SS-color5;
                    font-size: large;
                    text-align: left;
                }
            }
        }
    }
}