@import "variables";
@import "mixins";

.footer {
    //display: none;
    position: relative;
    bottom: 0px;
    width: 100%;
    background-color: $SS-color2;
    padding-top: 10px;
    padding-bottom: 10px;

    a {
        cursor: pointer;
        text-decoration: none;
        color: $SS-color4;
        //transition: color 200ms ease-in-out;

        opacity: .5;
        transition: .15s;

        &:hover {
            opacity: 1;
            transition: .15s;
            cursor: pointer;
        }
    }

    .FootLinks {
        width: 150px;
        columns: 2;
        list-style: none;
    }

    .Footer_links {
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        text-align: center;

        &_pages{
            &:not(:last-child){
                margin-right: 10px;
            }
        }

        &_socials{
            &:hover {
                text-decoration:underline;
            }
            &:not(:last-child) {
                margin-right: 10px;
            }

            &_img {
                object-fit: contain;
                width: 30px;
                height: 30px;
                opacity: .5;
                transition: .15s;
    
                &:hover {
                    opacity: 1;
                    transition: .15s;
                    cursor: pointer;
                }
            }
        }
    }
}