@import "variables";
@import "mixins";

.header {
    .nav {
        background-color: $primary;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1;

        &__links {
            border: none;
            display: inline-block;
            padding: 8px 16px;
            vertical-align: middle;
            overflow: hidden;
            text-decoration: none;
            color: inherit;
            background-color: inherit;
            text-align: center;
            cursor: pointer;

            &__icon {
                object-fit: contain;
                margin-right: 10px;
                width: 30px;
                height: 30px;
                transition: .15s;
            }
            a {
                font-weight: 900;
                color: $font;
                padding: 8px 16px;
                float: left;
                width: auto;
                height: 50px;
                border: none;
                display: block;
                outline: 0;
                display: flex;
                align-items: center;
            }
        }
    }
}