@media screen and (min-width: 930px){
    .modal{
        border-width: 1px;
    }
}

@media screen and (min-width: 768px){
    .portfolio {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .links_img {
        margin-right: 0.9375rem;
    }
    .index_body{
        justify-content: center;
    }
    .modal{
        height: 935px;
    }
}
@media screen and (min-width: 480px){
    .links_click::after {
        display: block;
    }
    .index_body {
        transition: none;
        filter: none;
    }
}

@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}
@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}
@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}
@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

/*
@keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-moz-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-o-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-ms-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
*/