@media screen and (min-width: 930px){
    .modal{
        border-width: 1px;
    }
    .modal_header_info__img{
        width:4.0625rem;
        height: 4.0625rem;
        border-radius: 1.25rem;
    }
    .app_tools_display{
        display:block;
    }
}
@media screen and (min-width: 768px){
    .portfolio {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .links_img {
        margin-right: 0.9375rem;
    }
    .index_body{
        justify-content: center;
    }
    .modal{
        height: 935px;
    }
    .app_description_p{
        max-width: 70%;
    }
}
@media screen and (min-width: 480px){
    .links_click::after {
        display: block;
    }
    .index_body {
        transition: none;
        filter: none;
    }
    .modal_header_info{
        padding: 2.1875rem 2.1875rem 0rem;
    }
    .modal_hr{
        padding-left: 2.1875rem;
        padding-right: 2.1875rem;
    }
    .app_tools{
        padding-left: 2.1875rem;
        padding-right: 2.1875rem;
    }
    .app_slide{
        padding-left: 2.1875rem;
        padding-right: 2.1875rem;
    }
}
@media screen and (max-width: 768px){ //terrible solution
    .index_body{
        overflow:visible;
    }
}

@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    } 
    to {
        bottom: 0; 
        opacity: 1
    }
}
@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    } 
    to {
        bottom: 0; 
        opacity: 1
    }
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    } 
    to {
        opacity: 1
    }
}
@keyframes fadeIn {
    from {
        opacity: 0
    } 
    to {
        opacity: 1
    }
}

/*
@keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-moz-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-o-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-ms-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
*/