@import "variables";
@import "mixins";
@use "sass:math";

.resume_html{
    background-color: $SS-color2;
}
.resume_body{
    background-color: $SS-color2;
    color:$SS-color4;
    text-align: left;
    
    
    //display: flex;
    //justify-content: center;
    max-width: 540px;
    margin: 0 auto;
    padding: 50px;

    h3{
        font-size: 20px;
        font-weight: 400;
        text-align: left;
    }

    &_profile{
        display: flex;
        flex-direction: row;
        align-items: center;

        &_img{
            width: 100px;
            height:100px;
            
            border-radius: 50px;
        }
        &_text{
            margin-left: 30px;
            text-align: left;

            &_h1{
                font-size: 20px;
            }
            &_p{
                text-align: left;
                color: $SS-color5;
            }
            &_a{
                color:$SS-color3;
                text-decoration: underline;
            }
        }
    }
    &_about{
        margin-top: 36px;
        margin-right: 0px;
        margin-bottom: 36px;
        margin-left: 0px;
        //width:80%;
        
        //text-align: left;
        //display: flex;
        //justify-content: center;
        //align-items: center;

        /*
        &_p1{
            text-align: left;
            font-size: 20px;
        }
        */
        &_p2{
            text-align: left;
            color: $SS-color5;
        }
    }
    &_projects{
        margin-top: 60px;
        margin-right: 0px;
        margin-bottom: 60px;
        margin-left: 0px;

        &_eh{
            
        }
        &_exp{
            display:flex;
            flex-direction: row;
            margin-top: 24px;
            margin-right: 0px;
            margin-bottom: 36px;
            margin-left: 0px;

            &_time{
                width: 88px;
                margin-right: 36px;
                white-space: nowrap;
                position: relative;
                //text-align: right;
                :after{
                    content: "0000 — 0000";
                    visibility: hidden;
                }
            }
            &_content{
                flex-grow: 1;
                flex-shrink: 1;
                flex-basis: 0%;

                &_title{
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    &_a{
                        color: $SS-color4;
                        text-decoration: none;
                    }
                }
                &_des{
                    
                    //font-size: small;
                    color:$SS-color3;
                    p{
                        text-align: left;
                    }
                }
            }
        }
    }
    &_work{
        margin-top: 60px;
        margin-right: 0px;
        margin-bottom: 60px;
        margin-left: 0px;

    }
    &_contact{
        margin-top: 60px;
        margin-right: 0px;
        margin-bottom: 60px;
        margin-left: 0px;

    }
}