/* Color schemes
Colorful and balanced
#e27d60
#85dcb
#e8a87c
#c38d9e
#41b3a3

striking and simple (futuristic tech, not professional)
#0b0c10
#1f2833
#c5c6c7
#66fcf1
#45a29e

cheerful and energetic
#fbe8a6
#f4976c
#303c6c
#b4dfe5
#d2fdff
*/

//Striking and Simple
$SS-color1: #0B0C10;
$SS-color2: #1F2833;
$SS-color3: #45A29E;
$SS-color4: #66FCF1;
$SS-color5: #C5C6C7;
$SS-color6: #D2FDFF;

//color theme
$primary: #fbe8a6;
$secondary: #f4976c;
$third: #d2fdff;
$border: #b4dfe5;
$font: #303c6c;

$gray: #777;
$red: red;
$white: rgb(255, 255, 255);

$font-sm: 14px;
$font-med: 18px;

$font-homesearch: 16px;
$font-eventbnt: 20px;
$font-smalltitle: 26px;
$font-eventtitle: 50px;
$font-bigtitle: 80px;