$gray: gray;
$red: red;
$white: rgb(255, 255, 255);

$font-sm: 14px;
$font-med: 18px;

$font-homesearch: 16px;
$font-eventbnt: 20px;
$font-smalltitle: 26px;
$font-eventtitle: 50px;
$font-bigtitle: 80px;