@charset "UTF-8";
/* Color schemes
Colorful and balanced
#e27d60
#85dcb
#e8a87c
#c38d9e
#41b3a3

striking and simple (futuristic tech, not professional)
#0b0c10
#1f2833
#c5c6c7
#66fcf1
#45a29e

cheerful and energetic
#fbe8a6
#f4976c
#303c6c
#b4dfe5
#d2fdff
*/
@media screen and (min-width: 930px) {
  .modal {
    border-width: 1px;
  }
  .modal_header_info__img {
    width: 4.0625rem;
    height: 4.0625rem;
    border-radius: 1.25rem;
  }
  .app_tools_display {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .links_img {
    margin-right: 0.9375rem;
  }
  .index_body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .modal {
    height: 720px;
  }
  .app_description_p {
    max-width: 70%;
  }
}

@media screen and (min-width: 480px) {
  .links_click::after {
    display: block;
  }
  .index_body {
    -webkit-transition: none;
    transition: none;
    -webkit-filter: none;
            filter: none;
  }
  .app_tools {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
  }
  .app_slide {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
  }
  .modal_background, .modal_pos, .modal {
    overflow: visible;
  }
  .modal_header_info {
    padding: 2.1875rem 2.1875rem 0rem;
  }
  .modal_hr {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
  }
  .modal__header_exit {
    width: 30px;
    height: 30px;
  }
  .modal__header_exit .close {
    font-size: 19px;
  }
  .GIF {
    font-size: 20px;
  }
  .des {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .index_body {
    overflow: visible;
  }
  .modal__header_exit {
    width: 30px;
    height: 30px;
  }
  .modal__header_exit .close {
    font-size: 19px;
  }
  .GIF {
    font-size: 20px;
  }
  .des {
    font-size: 15px;
  }
  .slide_background {
    width: 300px;
  }
  .slide_background .slide_img {
    width: 200px;
  }
}

@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*
@keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-moz-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-o-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-ms-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
*/
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  overflow-wrap: break-word;
  background-color: #0B0C10;
}

body {
  scroll-behavior: smooth;
  line-height: 1.3;
  font-family: 'Quattrocento', sans-serif;
  color: #66FCF1;
  background-color: #0B0C10;
  /*
    &::-webkit-scrollbar {
        width: 20px;
        background-color: $primary;
    }

    &::-webkit-scrollbar-track {
        border-radius: 50px;
    }

    &::-webkit-scrollbar-thumb {
        background: $font;
        border-radius: 50px;
        box-shadow: 
        12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
        -8px -8px 12px 0 rgba(0, 0, 0, .25) inset;
    }
    */
}

/*
a, a:link, a:visited, a:active {
    text-decoration: none;
    color: $SS-color4;
}
*/
img, svg, video, canvas, audio, iframe, embed, object {
  display: block;
}

img, video {
  max-width: 100%;
  height: auto;
}

img {
  border-style: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-se {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Color schemes
Colorful and balanced
#e27d60
#85dcb
#e8a87c
#c38d9e
#41b3a3

striking and simple (futuristic tech, not professional)
#0b0c10
#1f2833
#c5c6c7
#66fcf1
#45a29e

cheerful and energetic
#fbe8a6
#f4976c
#303c6c
#b4dfe5
#d2fdff
*/
@media screen and (min-width: 930px) {
  .modal {
    border-width: 1px;
  }
  .modal_header_info__img {
    width: 4.0625rem;
    height: 4.0625rem;
    border-radius: 1.25rem;
  }
  .app_tools_display {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .links_img {
    margin-right: 0.9375rem;
  }
  .index_body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .modal {
    height: 720px;
  }
  .app_description_p {
    max-width: 70%;
  }
}

@media screen and (min-width: 480px) {
  .links_click::after {
    display: block;
  }
  .index_body {
    -webkit-transition: none;
    transition: none;
    -webkit-filter: none;
            filter: none;
  }
  .app_tools {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
  }
  .app_slide {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
  }
  .modal_background, .modal_pos, .modal {
    overflow: visible;
  }
  .modal_header_info {
    padding: 2.1875rem 2.1875rem 0rem;
  }
  .modal_hr {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
  }
  .modal__header_exit {
    width: 30px;
    height: 30px;
  }
  .modal__header_exit .close {
    font-size: 19px;
  }
  .GIF {
    font-size: 20px;
  }
  .des {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .index_body {
    overflow: visible;
  }
  .modal__header_exit {
    width: 30px;
    height: 30px;
  }
  .modal__header_exit .close {
    font-size: 19px;
  }
  .GIF {
    font-size: 20px;
  }
  .des {
    font-size: 15px;
  }
  .slide_background {
    width: 300px;
  }
  .slide_background .slide_img {
    width: 200px;
  }
}

@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*
@keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-moz-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-o-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-ms-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
*/
/* Color schemes
Colorful and balanced
#e27d60
#85dcb
#e8a87c
#c38d9e
#41b3a3

striking and simple (futuristic tech, not professional)
#0b0c10
#1f2833
#c5c6c7
#66fcf1
#45a29e

cheerful and energetic
#fbe8a6
#f4976c
#303c6c
#b4dfe5
#d2fdff
*/
@media screen and (min-width: 930px) {
  .modal {
    border-width: 1px;
  }
  .modal_header_info__img {
    width: 4.0625rem;
    height: 4.0625rem;
    border-radius: 1.25rem;
  }
  .app_tools_display {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .links_img {
    margin-right: 0.9375rem;
  }
  .index_body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .modal {
    height: 720px;
  }
  .app_description_p {
    max-width: 70%;
  }
}

@media screen and (min-width: 480px) {
  .links_click::after {
    display: block;
  }
  .index_body {
    -webkit-transition: none;
    transition: none;
    -webkit-filter: none;
            filter: none;
  }
  .app_tools {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
  }
  .app_slide {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
  }
  .modal_background, .modal_pos, .modal {
    overflow: visible;
  }
  .modal_header_info {
    padding: 2.1875rem 2.1875rem 0rem;
  }
  .modal_hr {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
  }
  .modal__header_exit {
    width: 30px;
    height: 30px;
  }
  .modal__header_exit .close {
    font-size: 19px;
  }
  .GIF {
    font-size: 20px;
  }
  .des {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .index_body {
    overflow: visible;
  }
  .modal__header_exit {
    width: 30px;
    height: 30px;
  }
  .modal__header_exit .close {
    font-size: 19px;
  }
  .GIF {
    font-size: 20px;
  }
  .des {
    font-size: 15px;
  }
  .slide_background {
    width: 300px;
  }
  .slide_background .slide_img {
    width: 200px;
  }
}

@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*
@keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-moz-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-o-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-ms-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
*/
.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #1F2833;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer a {
  cursor: pointer;
  text-decoration: none;
  color: #66FCF1;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.footer a:hover {
  color: #303c6c;
}

.footer .FootLinks {
  width: 150px;
  -webkit-columns: 2;
          columns: 2;
  list-style: none;
}

.footer .Footer_links {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  text-align: center;
}

.footer .Footer_links a:hover {
  text-decoration: underline;
}

.footer .Footer_links a:not(:last-child) {
  margin-right: 3px;
}

.footer .Footer_links img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 30px;
  height: 30px;
  opacity: .5;
  -webkit-transition: .15s;
  transition: .15s;
  margin-right: 10px;
  /*
            &:not(:last-child) {
                margin-right: 10px;
            }
            */
}

.footer .Footer_links img:hover {
  opacity: 1;
  -webkit-transition: .15s;
  transition: .15s;
  cursor: pointer;
}

/* Color schemes
Colorful and balanced
#e27d60
#85dcb
#e8a87c
#c38d9e
#41b3a3

striking and simple (futuristic tech, not professional)
#0b0c10
#1f2833
#c5c6c7
#66fcf1
#45a29e

cheerful and energetic
#fbe8a6
#f4976c
#303c6c
#b4dfe5
#d2fdff
*/
@media screen and (min-width: 930px) {
  .modal {
    border-width: 1px;
  }
  .modal_header_info__img {
    width: 4.0625rem;
    height: 4.0625rem;
    border-radius: 1.25rem;
  }
  .app_tools_display {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .links_img {
    margin-right: 0.9375rem;
  }
  .index_body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .modal {
    height: 720px;
  }
  .app_description_p {
    max-width: 70%;
  }
}

@media screen and (min-width: 480px) {
  .links_click::after {
    display: block;
  }
  .index_body {
    -webkit-transition: none;
    transition: none;
    -webkit-filter: none;
            filter: none;
  }
  .app_tools {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
  }
  .app_slide {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
  }
  .modal_background, .modal_pos, .modal {
    overflow: visible;
  }
  .modal_header_info {
    padding: 2.1875rem 2.1875rem 0rem;
  }
  .modal_hr {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
  }
  .modal__header_exit {
    width: 30px;
    height: 30px;
  }
  .modal__header_exit .close {
    font-size: 19px;
  }
  .GIF {
    font-size: 20px;
  }
  .des {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .index_body {
    overflow: visible;
  }
  .modal__header_exit {
    width: 30px;
    height: 30px;
  }
  .modal__header_exit .close {
    font-size: 19px;
  }
  .GIF {
    font-size: 20px;
  }
  .des {
    font-size: 15px;
  }
  .slide_background {
    width: 300px;
  }
  .slide_background .slide_img {
    width: 200px;
  }
}

@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*
@keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-moz-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-o-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-ms-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
*/
.header .nav {
  background-color: #fbe8a6;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.header .nav__links {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
}

.header .nav__links__icon {
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  -webkit-transition: .15s;
  transition: .15s;
}

.header .nav__links a {
  font-weight: 900;
  color: #303c6c;
  padding: 8px 16px;
  float: left;
  width: auto;
  height: 50px;
  border: none;
  display: block;
  outline: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Color schemes
Colorful and balanced
#e27d60
#85dcb
#e8a87c
#c38d9e
#41b3a3

striking and simple (futuristic tech, not professional)
#0b0c10
#1f2833
#c5c6c7
#66fcf1
#45a29e

cheerful and energetic
#fbe8a6
#f4976c
#303c6c
#b4dfe5
#d2fdff
*/
@media screen and (min-width: 930px) {
  .modal {
    border-width: 1px;
  }
  .modal_header_info__img {
    width: 4.0625rem;
    height: 4.0625rem;
    border-radius: 1.25rem;
  }
  .app_tools_display {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .links_img {
    margin-right: 0.9375rem;
  }
  .index_body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .modal {
    height: 720px;
  }
  .app_description_p {
    max-width: 70%;
  }
}

@media screen and (min-width: 480px) {
  .links_click::after {
    display: block;
  }
  .index_body {
    -webkit-transition: none;
    transition: none;
    -webkit-filter: none;
            filter: none;
  }
  .app_tools {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
  }
  .app_slide {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
  }
  .modal_background, .modal_pos, .modal {
    overflow: visible;
  }
  .modal_header_info {
    padding: 2.1875rem 2.1875rem 0rem;
  }
  .modal_hr {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
  }
  .modal__header_exit {
    width: 30px;
    height: 30px;
  }
  .modal__header_exit .close {
    font-size: 19px;
  }
  .GIF {
    font-size: 20px;
  }
  .des {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .index_body {
    overflow: visible;
  }
  .modal__header_exit {
    width: 30px;
    height: 30px;
  }
  .modal__header_exit .close {
    font-size: 19px;
  }
  .GIF {
    font-size: 20px;
  }
  .des {
    font-size: 15px;
  }
  .slide_background {
    width: 300px;
  }
  .slide_background .slide_img {
    width: 200px;
  }
}

@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*
@keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-moz-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-o-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-ms-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
*/
@use "sass:math";
.index_body {
  /*
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  min-height: 100vh;
  width: 930px;
  max-width: 100%;
  margin: auto;
  padding: 1.875rem 0.9375rem;
  overflow: hidden;
  -webkit-transition: -webkit-filter 0.5s;
  transition: -webkit-filter 0.5s;
  transition: filter 0.5s;
  transition: filter 0.5s, -webkit-filter 0.5s;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-filter: blur(0px);
          filter: blur(0px);
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 930px;
  max-width: 100%;
  padding-top: 1.875rem;
  padding-bottom: 1.875rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.intro .h1 {
  font-size: clamp(24px, calc(14.40px + 2.00vw), 40px);
  font-weight: 400;
  line-height: 1.2;
}

.intro .link {
  margin-top: 1.25rem;
  -webkit-margin-start: 0rem;
          margin-inline-start: 0rem;
  width: 100%;
}

.intro .link .ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  padding: 0rem;
}

.intro .link .ul .li {
  margin: 7.5px;
}

.intro .link .ul .li .list_button {
  background-color: #1F2833;
  border: none;
  border-radius: 15px;
  height: 50px;
  width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.intro .link .ul .li .list_button img {
  height: 30px;
  width: 30px;
}

.intro .link .ul .li .list_button .emailhover {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.intro .link .ul .li .list_button .emailhover ::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.intro .link .ul .li .list_button .emailhover :hover {
  visibility: visible;
}

.portfolio {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 1.875rem;
  grid-column-gap: 2.5rem;
  -ms-grid-columns: (minmax(0, 1fr))[1];
      grid-template-columns: repeat(1, minmax(0, 1fr));
  width: 100%;
  margin-top: 4.6875rem;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 930px;
  max-width: 100%;
  color: #D2FDFF;
}

.portfolio .links__sub {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.portfolio .links .links_img {
  margin-right: 0.625rem;
  border-radius: 15px;
  width: 4.0625rem;
  height: 4.0625rem;
}

.portfolio .links .links_click {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: relative;
  width: 100%;
}

.portfolio .links .links_click__text {
  margin-right: 0.9375rem;
}

.portfolio .links .links_click__text h3 {
  font-size: 16px;
  font-weight: 400;
}

.portfolio .links .links_click__text p {
  text-align: left;
  font-size: clamp(12px, calc(10.80px + 0.25vw), 14px);
  color: #66FCF1;
}

.portfolio .links .links_click__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 250ms;
  transition: all 250ms;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  white-space: nowrap;
  vertical-align: middle;
  outline: none;
  line-height: 1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100px;
  min-width: 2.5rem;
  height: 50px;
  border: none;
  border-radius: 1rem;
  margin-left: auto;
  padding: 0rem 0.9375rem;
  background-color: #1F2833;
  color: #D2FDFF;
  text-transform: none;
  font-size: 20px;
  font-weight: 600;
  font-size: 14px;
}

.portfolio .links .links_click::after {
  position: absolute;
  content: "";
  bottom: -17px;
  left: 0rem;
  width: 100%;
  height: 1px;
  display: block;
}

.portfolio .links :hover {
  cursor: pointer;
}

.portfolio hr {
  width: 50%;
}

.modal_background {
  position: fixed;
  width: 930px;
  max-width: 100%;
  margin: auto;
  display: none;
  z-index: 1;
  /* Sit on top */
  right: 0rem;
  bottom: 0rem;
  left: 0rem;
  background-color: #0B0C10;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

.modal_background .modal_pos .modal {
  margin: auto;
  height: 735px;
  width: 930px;
  max-width: 100%;
  background-color: #0B0C10;
  border: 1px solid #D2FDFF;
  -o-border-image: initial;
     border-image: initial;
  border-radius: 10px;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
}

.modal_background .modal_pos .modal__header {
  margin: 30px;
  margin-bottom: 10px;
}

.modal_background .modal_pos .modal__header_exit {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1F2833;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.modal_background .modal_pos .modal__header_exit :hover, .modal_background .modal_pos .modal__header_exit :focus {
  color: #66FCF1;
  text-decoration: none;
  cursor: pointer;
}

.modal_background .modal_pos .modal__header_exit .close {
  color: #66FCF1;
  font-size: 28px;
  font-weight: bold;
}

.modal_background .modal_pos .modal__header_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.modal_background .modal_pos .modal__header_title .info_img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.modal_background .modal_pos .modal__header_title .text {
  margin-left: 20px;
  text-align: left;
}

.modal_background .modal_pos .modal__header_title .text .GIF {
  text-align: left;
  font-weight: bold;
  font-size: 30px;
  color: #66FCF1;
}

.modal_background .modal_pos .modal__header_title .text .des {
  text-align: left;
  font-size: 20px;
  color: #C5C6C7;
}

.modal_background .modal_pos .modal__header__hr {
  padding: 15px 0rem;
}

.modal_background .modal_pos .modal__header__hr .modal_separator {
  opacity: 0.6;
  border-width: 0px 0px 1px;
  -o-border-image: initial;
     border-image: initial;
  border-color: inherit;
  border-style: solid;
  width: 100%;
}

.modal_background .modal_pos .modal__header__apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.modal_background .modal_pos .modal__header__apps .tool_text {
  background-color: #0B0C10;
  border: 1px solid #C5C6C7;
  border-radius: 10px;
  padding: 10px;
  margin-right: 20px;
  font-size: 15px;
  color: #66FCF1;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  text-transform: none;
}

.modal_background .modal_pos .modal__body_slides .slide_background {
  background-color: #F1CEDB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  margin: auto;
}

.modal_background .modal_pos .modal__body_slides .slide_background .slide_img {
  width: 400px;
  margin: 10px auto;
}

.modal_background .modal_pos .modal__body_description {
  margin-top: 20px;
  padding-left: 35px;
  padding-right: 35px;
}

.modal_background .modal_pos .modal__body_description_p {
  width: 60%;
  color: #C5C6C7;
  font-size: medium;
  text-align: left;
}

.modal_background .modal_pos .modal__body_site {
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 0px 30px;
}

.modal_background .modal_pos .modal__body_site_link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  height: 2.5rem;
  width: auto;
  padding: 8px 24px;
  background-color: #1F2833;
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  border-color: #66FCF1;
  font-size: 20px;
  color: #66FCF1;
  text-transform: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -webkit-transition: all 250ms ease 0s;
  transition: all 250ms ease 0s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  white-space: nowrap;
  outline: none;
  line-height: 1;
}

/* Color schemes
Colorful and balanced
#e27d60
#85dcb
#e8a87c
#c38d9e
#41b3a3

striking and simple (futuristic tech, not professional)
#0b0c10
#1f2833
#c5c6c7
#66fcf1
#45a29e

cheerful and energetic
#fbe8a6
#f4976c
#303c6c
#b4dfe5
#d2fdff
*/
@media screen and (min-width: 930px) {
  .modal {
    border-width: 1px;
  }
  .modal_header_info__img {
    width: 4.0625rem;
    height: 4.0625rem;
    border-radius: 1.25rem;
  }
  .app_tools_display {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .links_img {
    margin-right: 0.9375rem;
  }
  .index_body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .modal {
    height: 720px;
  }
  .app_description_p {
    max-width: 70%;
  }
}

@media screen and (min-width: 480px) {
  .links_click::after {
    display: block;
  }
  .index_body {
    -webkit-transition: none;
    transition: none;
    -webkit-filter: none;
            filter: none;
  }
  .app_tools {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
  }
  .app_slide {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
  }
  .modal_background, .modal_pos, .modal {
    overflow: visible;
  }
  .modal_header_info {
    padding: 2.1875rem 2.1875rem 0rem;
  }
  .modal_hr {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
  }
  .modal__header_exit {
    width: 30px;
    height: 30px;
  }
  .modal__header_exit .close {
    font-size: 19px;
  }
  .GIF {
    font-size: 20px;
  }
  .des {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .index_body {
    overflow: visible;
  }
  .modal__header_exit {
    width: 30px;
    height: 30px;
  }
  .modal__header_exit .close {
    font-size: 19px;
  }
  .GIF {
    font-size: 20px;
  }
  .des {
    font-size: 15px;
  }
  .slide_background {
    width: 300px;
  }
  .slide_background .slide_img {
    width: 200px;
  }
}

@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*
@keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-moz-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-o-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-ms-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
*/
@use "sass:math";
.resume_html {
  background-color: #1F2833;
}

.resume_body {
  background-color: #1F2833;
  color: #66FCF1;
  text-align: left;
  max-width: 540px;
  margin: 0 auto;
  padding: 50px;
}

.resume_body h3 {
  font-size: 20px;
  font-weight: 400;
  text-align: left;
}

.resume_body_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resume_body_profile_img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.resume_body_profile_text {
  margin-left: 30px;
  text-align: left;
}

.resume_body_profile_text_h1 {
  font-size: 20px;
}

.resume_body_profile_text_p {
  text-align: left;
  color: #C5C6C7;
}

.resume_body_profile_text_a {
  color: #45A29E;
  text-decoration: underline;
}

.resume_body_about {
  margin-top: 36px;
  margin-right: 0px;
  margin-bottom: 36px;
  margin-left: 0px;
  /*
        &_p1{
            text-align: left;
            font-size: 20px;
        }
        */
}

.resume_body_about_p2 {
  text-align: left;
  color: #C5C6C7;
}

.resume_body_edu {
  margin-top: 60px;
  margin-right: 0px;
  margin-bottom: 60px;
  margin-left: 0px;
}

.resume_body_edu_exp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 24px;
  margin-right: 0px;
  margin-bottom: 36px;
  margin-left: 0px;
}

.resume_body_edu_exp_time {
  width: 88px;
  margin-right: 36px;
  white-space: nowrap;
  position: relative;
  color: #C5C6C7;
}

.resume_body_edu_exp_time :after {
  content: "0000 — 0000";
  visibility: hidden;
}

.resume_body_edu_exp_content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
}

.resume_body_edu_exp_content_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resume_body_edu_exp_content_title_a {
  color: #66FCF1;
  text-decoration: none;
}

.resume_body_edu_exp_content_title span {
  margin-left: 5px;
}

.resume_body_edu_exp_content_des {
  color: #45A29E;
}

.resume_body_edu_exp_content_des p {
  text-align: left;
}

.resume_body_projects {
  margin-top: 60px;
  margin-right: 0px;
  margin-bottom: 60px;
  margin-left: 0px;
}

.resume_body_projects_exp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 24px;
  margin-right: 0px;
  margin-bottom: 36px;
  margin-left: 0px;
}

.resume_body_projects_exp_time {
  width: 88px;
  margin-right: 36px;
  white-space: nowrap;
  position: relative;
  color: #C5C6C7;
}

.resume_body_projects_exp_time :after {
  content: "0000 — 0000";
  visibility: hidden;
}

.resume_body_projects_exp_content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
}

.resume_body_projects_exp_content_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resume_body_projects_exp_content_title_a {
  color: #66FCF1;
  text-decoration: none;
}

.resume_body_projects_exp_content_title span {
  margin-left: 5px;
}

.resume_body_projects_exp_content_des {
  color: #45A29E;
}

.resume_body_projects_exp_content_des p {
  text-align: left;
}

.resume_body_work {
  margin-top: 60px;
  margin-right: 0px;
  margin-bottom: 60px;
  margin-left: 0px;
}

.resume_body_work_exp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 24px;
  margin-right: 0px;
  margin-bottom: 36px;
  margin-left: 0px;
}

.resume_body_work_exp_time {
  width: 88px;
  margin-right: 36px;
  white-space: nowrap;
  position: relative;
  color: #C5C6C7;
}

.resume_body_work_exp_time :after {
  content: "0000 — 0000";
  visibility: hidden;
}

.resume_body_work_exp_content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
}

.resume_body_work_exp_content_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resume_body_work_exp_content_title_a {
  color: #66FCF1;
  text-decoration: none;
}

.resume_body_work_exp_content_title span {
  margin-left: 5px;
}

.resume_body_work_exp_content_des {
  color: #45A29E;
}

.resume_body_work_exp_content_des p {
  text-align: left;
}

.resume_body_cert {
  margin-top: 60px;
  margin-right: 0px;
  margin-bottom: 60px;
  margin-left: 0px;
}

.resume_body_cert_exp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 24px;
  margin-right: 0px;
  margin-bottom: 36px;
  margin-left: 0px;
}

.resume_body_cert_exp_time {
  width: 88px;
  margin-right: 36px;
  white-space: nowrap;
  position: relative;
  color: #C5C6C7;
}

.resume_body_cert_exp_time :after {
  content: "0000 — 0000";
  visibility: hidden;
}

.resume_body_cert_exp_content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
}

.resume_body_cert_exp_content_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resume_body_cert_exp_content_title_a {
  color: #66FCF1;
  text-decoration: none;
}

.resume_body_cert_exp_content_title span {
  margin-left: 5px;
}

.resume_body_cert_exp_content_des {
  color: #45A29E;
}

.resume_body_cert_exp_content_des p {
  text-align: left;
}

.resume_body_contact {
  margin-top: 60px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
}

.resume_body_contact_exp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 14px;
  margin-right: 0px;
  margin-bottom: 14px;
  margin-left: 0px;
}

.resume_body_contact_exp_web {
  width: 88px;
  margin-right: 36px;
  white-space: nowrap;
  position: relative;
  color: #C5C6C7;
}

.resume_body_contact_exp_web :after {
  content: "0000 — 0000";
  visibility: hidden;
}

.resume_body_contact_exp_content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-preferred-size: 0%;
      flex-basis: 0%;
}

.resume_body_contact_exp_content_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.resume_body_contact_exp_content_title_a {
  color: #66FCF1;
  text-decoration: none;
}

.resume_body_contact_exp_content_title_p {
  color: #66FCF1;
  text-decoration: none;
}

.resume_body_contact_exp_content_title_p:hover {
  cursor: pointer;
}

.resume_body_contact_exp_content_title span {
  margin-left: 5px;
}

.resume_body_contact_exp_content_title span .resume_body_contact_exp_content_title_p_hov {
  visibility: hidden;
  padding: 5px 0px;
  border-radius: 6px;
  background-color: #1F2833;
  text-align: center;
  color: #66FCF1;
  position: absolute;
  z-index: 1;
  right: 39.5%;
  bottom: -84%;
}

.resume_body_contact_exp_content_title span:hover {
  cursor: pointer;
}

.resume_body_contact_exp_content_title span:hover .resume_body_contact_exp_content_title_p_hov {
  visibility: visible;
}

.resume_body_contact_exp_content_title span .resume_body_contact_exp_content_title_p_hov2 {
  visibility: hidden;
  padding: 5px 0px;
  border-radius: 6px;
  background-color: #1F2833;
  text-align: center;
  color: #66FCF1;
  position: absolute;
  z-index: 1;
  right: 41%;
  bottom: -88.5%;
}

.resume_body_contact_exp_content_title span:hover {
  cursor: pointer;
}

.resume_body_contact_exp_content_title span:hover .resume_body_contact_exp_content_title_p_hov2 {
  visibility: visible;
}

/* Color schemes
Colorful and balanced
#e27d60
#85dcb
#e8a87c
#c38d9e
#41b3a3

striking and simple (futuristic tech, not professional)
#0b0c10
#1f2833
#c5c6c7
#66fcf1
#45a29e

cheerful and energetic
#fbe8a6
#f4976c
#303c6c
#b4dfe5
#d2fdff
*/
@media screen and (min-width: 930px) {
  .modal {
    border-width: 1px;
  }
  .modal_header_info__img {
    width: 4.0625rem;
    height: 4.0625rem;
    border-radius: 1.25rem;
  }
  .app_tools_display {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .links_img {
    margin-right: 0.9375rem;
  }
  .index_body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .modal {
    height: 720px;
  }
  .app_description_p {
    max-width: 70%;
  }
}

@media screen and (min-width: 480px) {
  .links_click::after {
    display: block;
  }
  .index_body {
    -webkit-transition: none;
    transition: none;
    -webkit-filter: none;
            filter: none;
  }
  .app_tools {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
  }
  .app_slide {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
  }
  .modal_background, .modal_pos, .modal {
    overflow: visible;
  }
  .modal_header_info {
    padding: 2.1875rem 2.1875rem 0rem;
  }
  .modal_hr {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
  }
  .modal__header_exit {
    width: 30px;
    height: 30px;
  }
  .modal__header_exit .close {
    font-size: 19px;
  }
  .GIF {
    font-size: 20px;
  }
  .des {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .index_body {
    overflow: visible;
  }
  .modal__header_exit {
    width: 30px;
    height: 30px;
  }
  .modal__header_exit .close {
    font-size: 19px;
  }
  .GIF {
    font-size: 20px;
  }
  .des {
    font-size: 15px;
  }
  .slide_background {
    width: 300px;
  }
  .slide_background .slide_img {
    width: 200px;
  }
}

@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*
@keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-moz-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-o-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-ms-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
*/
.bg_img-friend {
  background-image: url("/images/png-files/about_image2.png");
  min-height: 100%;
}

.bg_img-movie {
  background-image: url("/images/png-files/master-oogway2.png");
  min-height: 100%;
  background-position: 40%;
}

.bg_img-cook {
  background-image: url("/images/png-files/anthony-bourdain.png");
  min-height: 100%;
  background-position: 0 15%;
}

#BlogFriendPage, #BlogMoviePage, #BlogCookPage {
  margin: auto;
  height: 100%;
  width: 100%;
}

#BlogFriendPage h1, #BlogMoviePage h1, #BlogCookPage h1 {
  background: none;
  color: #d2fdff;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 50px;
}

#BlogMoviePage h1 {
  margin-left: 50px;
  font-size: 20px;
  left: 0;
}

.FriendPage {
  margin: 16px 0;
  text-align: center;
}

.FriendPage__topic h3 {
  font-size: 30px;
}

.FriendPage .FriendPageMid {
  background-color: #fbe8a6;
  padding: 10px;
}

.FriendPage .FriendPageMid .video {
  height: 300px;
}

.FriendPage .FriendPageMid__josh {
  width: 50%;
  float: left;
}

.FriendPage .FriendPageMid__andrew {
  width: 50%;
  float: right;
}

.FriendPage .FriendPageVid .video {
  height: 300px;
}

.MoviePage {
  margin: 16px 0;
  text-align: center;
}

#BlogCookPage h1 {
  font-size: 30px;
}

.CookPage {
  margin: 16px 0;
  text-align: center;
}

.CookPage__topic {
  max-width: 60%;
  margin: auto;
}

/* Color schemes
Colorful and balanced
#e27d60
#85dcb
#e8a87c
#c38d9e
#41b3a3

striking and simple (futuristic tech, not professional)
#0b0c10
#1f2833
#c5c6c7
#66fcf1
#45a29e

cheerful and energetic
#fbe8a6
#f4976c
#303c6c
#b4dfe5
#d2fdff
*/
@media screen and (min-width: 930px) {
  .modal {
    border-width: 1px;
  }
  .modal_header_info__img {
    width: 4.0625rem;
    height: 4.0625rem;
    border-radius: 1.25rem;
  }
  .app_tools_display {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .links_img {
    margin-right: 0.9375rem;
  }
  .index_body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .modal {
    height: 720px;
  }
  .app_description_p {
    max-width: 70%;
  }
}

@media screen and (min-width: 480px) {
  .links_click::after {
    display: block;
  }
  .index_body {
    -webkit-transition: none;
    transition: none;
    -webkit-filter: none;
            filter: none;
  }
  .app_tools {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
  }
  .app_slide {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
  }
  .modal_background, .modal_pos, .modal {
    overflow: visible;
  }
  .modal_header_info {
    padding: 2.1875rem 2.1875rem 0rem;
  }
  .modal_hr {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
  }
  .modal__header_exit {
    width: 30px;
    height: 30px;
  }
  .modal__header_exit .close {
    font-size: 19px;
  }
  .GIF {
    font-size: 20px;
  }
  .des {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .index_body {
    overflow: visible;
  }
  .modal__header_exit {
    width: 30px;
    height: 30px;
  }
  .modal__header_exit .close {
    font-size: 19px;
  }
  .GIF {
    font-size: 20px;
  }
  .des {
    font-size: 15px;
  }
  .slide_background {
    width: 300px;
  }
  .slide_background .slide_img {
    width: 200px;
  }
}

@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*
@keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-moz-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-o-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-ms-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
*/
body p {
  text-align: center;
}

body .TopLink {
  text-align: center;
}

#WeeklyRes {
  margin: auto;
  width: 100%;
}

#WeeklyRes h1 {
  background: none;
  color: #303c6c;
  font-size: 50px;
}

.WR {
  padding: 0px 20px;
}

.WR .Week1, .WR .Week2, .WR .Week3, .WR .Week4, .WR .Week5, .WR .Week6, .WR .Week7, .WR .Week8, .WR .Week9, .WR .Week10 {
  padding: 10px 0px;
}

.WR .Week1 h2, .WR .Week1 h3, .WR .Week2 h2, .WR .Week2 h3, .WR .Week3 h2, .WR .Week3 h3, .WR .Week4 h2, .WR .Week4 h3, .WR .Week5 h2, .WR .Week5 h3, .WR .Week6 h2, .WR .Week6 h3, .WR .Week7 h2, .WR .Week7 h3, .WR .Week8 h2, .WR .Week8 h3, .WR .Week9 h2, .WR .Week9 h3, .WR .Week10 h2, .WR .Week10 h3 {
  padding: 5px 0px;
}

.WR .Week1 embed, .WR .Week2 embed, .WR .Week3 embed, .WR .Week4 embed, .WR .Week5 embed, .WR .Week6 embed, .WR .Week7 embed, .WR .Week8 embed, .WR .Week9 embed, .WR .Week10 embed {
  width: 100%;
  height: 600px;
  -o-object-fit: contain;
     object-fit: contain;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.WR .Week1__quiz, .WR .Week2__quiz, .WR .Week3__quiz, .WR .Week4__quiz, .WR .Week5__quiz, .WR .Week6__quiz, .WR .Week7__quiz, .WR .Week8__quiz, .WR .Week9__quiz, .WR .Week10__quiz {
  width: 49%;
  float: left;
  padding: 10px;
  background-color: #f4976c;
  border-radius: 25px;
}

.WR .Week1__product, .WR .Week2__product, .WR .Week3__product, .WR .Week4__product, .WR .Week5__product, .WR .Week6__product, .WR .Week7__product, .WR .Week8__product, .WR .Week9__product, .WR .Week10__product {
  width: 49%;
  float: right;
  padding: 10px;
  background-color: #f4976c;
  border-radius: 25px;
}

.WR .Week1 .Week9_product, .WR .Week2 .Week9_product, .WR .Week3 .Week9_product, .WR .Week4 .Week9_product, .WR .Week5 .Week9_product, .WR .Week6 .Week9_product, .WR .Week7 .Week9_product, .WR .Week8 .Week9_product, .WR .Week9 .Week9_product, .WR .Week10 .Week9_product {
  width: 49%;
}

.footer {
  position: relative;
  margin-top: -180px;
  clear: both;
}

#SConcept, #SSkill, #SConnect, #BioCon, #BioSkill, #BioConnect, #HCon, #HSkill, #HConnect {
  margin: auto;
  width: 50%;
  text-align: center;
  /*
    p{
        margin-left: 50px;
        margin-right: 50px;
    }
    */
}

#SConcept h1, #SSkill h1, #SConnect h1, #BioCon h1, #BioSkill h1, #BioConnect h1, #HCon h1, #HSkill h1, #HConnect h1 {
  background: none;
  color: #303c6c;
  font-size: 50px;
}

#SConcept .icon, #SSkill .icon, #SConnect .icon, #BioCon .icon, #BioSkill .icon, #BioConnect .icon, #HCon .icon, #HSkill .icon, #HConnect .icon {
  width: auto;
  vertical-align: middle;
  height: 80px;
}

.SciConcept, .SciSkill, .SciConnect, .BioConcept, .BioSkill, .BioConnect, .HumanConcept, .HumanSkill, .HumanConnect {
  margin: 10px;
  padding: 20px;
}

.SciConcept ol, .SciSkill ol, .SciConnect ol, .BioConcept ol, .BioSkill ol, .BioConnect ol, .HumanConcept ol, .HumanSkill ol, .HumanConnect ol {
  text-align: left;
  font-size: small;
}

.SciConcept p {
  text-align: left;
}

.SciConcept ol {
  font-size: medium;
}

.SciConcept ul {
  text-align: left;
}

.SciSkill embed {
  width: 100%;
  height: 600px;
  -o-object-fit: contain;
     object-fit: contain;
}

.SciConnect .bib {
  text-align: left;
}

.SciConnect .bib p, .SciConnect .bib a {
  font-size: small;
  text-align: left;
}

.SciConnect .bib h3 {
  text-align: center;
}

.SciConnect .bib a:link {
  text-decoration: none;
}

.SciConnect .bib a:visited {
  text-decoration: none;
}

.SciConnect .bib a:hover {
  text-decoration: underline;
}

.BioConcept .GIT_image {
  width: 80%;
}

.BioSkill p, .BioSkill dl {
  text-align: left;
}

.BioSkill .list {
  width: 50%;
}

.BioSkill .list1 {
  float: left;
}

.BioSkill .list2 {
  float: right;
}

.BioConnect .Week6_ref {
  width: 50%;
  float: left;
}

.BioConnect .Week10_ref {
  width: 50%;
  float: right;
}

.HumanConcept .DGInfo {
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.HumanConcept .DGInfo .Digestion_image {
  height: auto;
  width: 60%;
  float: left;
}

.HumanConcept .DGInfo .DigestGame {
  width: 40%;
  float: right;
}

.HumanConcept .FirstAid {
  width: 100%;
}

.HumanConcept .FirstAid ol {
  font-size: medium;
}

.HumanSkill p, .HumanSkill ul {
  text-align: left;
}

.HumanSkill .list {
  min-height: 800px;
  width: 50%;
}

.HumanSkill .list1 {
  float: left;
}

.HumanSkill .list2 {
  float: right;
}

.HumanConnect p {
  text-align: left;
}

body .TopLink {
  text-align: center;
}

.BodyDataGraph {
  border-collapse: collapse;
  border: 2px black solid;
  width: 67%;
  height: 380px;
}

.BodyDataTable {
  border-collapse: collapse;
  border: 2px black solid;
  width: 80%;
  height: 500px;
  float: left;
}

.footer {
  position: relative;
  margin: 0px;
  clear: both;
}

/* Color schemes
Colorful and balanced
#e27d60
#85dcb
#e8a87c
#c38d9e
#41b3a3

striking and simple (futuristic tech, not professional)
#0b0c10
#1f2833
#c5c6c7
#66fcf1
#45a29e

cheerful and energetic
#fbe8a6
#f4976c
#303c6c
#b4dfe5
#d2fdff
*/
@media screen and (min-width: 930px) {
  .modal {
    border-width: 1px;
  }
  .modal_header_info__img {
    width: 4.0625rem;
    height: 4.0625rem;
    border-radius: 1.25rem;
  }
  .app_tools_display {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .portfolio {
    -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  .links_img {
    margin-right: 0.9375rem;
  }
  .index_body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .modal {
    height: 720px;
  }
  .app_description_p {
    max-width: 70%;
  }
}

@media screen and (min-width: 480px) {
  .links_click::after {
    display: block;
  }
  .index_body {
    -webkit-transition: none;
    transition: none;
    -webkit-filter: none;
            filter: none;
  }
  .app_tools {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
  }
  .app_slide {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
  }
  .modal_background, .modal_pos, .modal {
    overflow: visible;
  }
  .modal_header_info {
    padding: 2.1875rem 2.1875rem 0rem;
  }
  .modal_hr {
    padding-left: 2.1875rem;
    padding-right: 2.1875rem;
  }
  .modal__header_exit {
    width: 30px;
    height: 30px;
  }
  .modal__header_exit .close {
    font-size: 19px;
  }
  .GIF {
    font-size: 20px;
  }
  .des {
    font-size: 15px;
  }
}

@media screen and (max-width: 480px) {
  .index_body {
    overflow: visible;
  }
  .modal__header_exit {
    width: 30px;
    height: 30px;
  }
  .modal__header_exit .close {
    font-size: 19px;
  }
  .GIF {
    font-size: 20px;
  }
  .des {
    font-size: 15px;
  }
  .slide_background {
    width: 300px;
  }
  .slide_background .slide_img {
    width: 200px;
  }
}

@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*
@keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-moz-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-o-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
@-ms-keyframes fadeIn {
    0%,100% { opacity: 0; }
    50% { opacity: 1; }
}
*/
.CalcMain {
  scroll-behavior: smooth;
  font-size: 100%;
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: 70px;
}

.CalcMain .HalfDiv {
  position: relative;
  top: 3%;
  background-color: #1F2833;
  border-radius: 25px;
  width: 48%;
  height: auto;
  padding: 20px;
  margin: 10px;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.CalcMain .CalcDiv {
  float: left;
}

.CalcMain .CalcDiv h1 {
  padding: 10px 0px 0px;
}

.CalcMain .CalcDiv p {
  font-weight: bold;
}

.CalcMain .CalcDiv input {
  background-color: #d2fdff;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid #b4dfe5;
}

.CalcMain .CalcDiv .CalcButtonDiv {
  margin: 20px;
}

.CalcMain .CalcDiv .CalcButtonDiv button {
  background-color: #d2fdff;
  color: #303c6c;
  font-weight: bold;
  font-size: 15px;
  border-radius: 25px;
  border: 2px solid #b4dfe5;
  margin: 1rem;
  height: 100px;
  width: 100px;
  overflow: hidden;
  outline: none;
}

.CalcMain .CalcDiv .CalcButtonDiv button:hover {
  -webkit-box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(180, 223, 229, 0.3);
          box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(180, 223, 229, 0.3);
}

.CalcMain .CalcDiv .CalcButtonDiv button:hover span {
  padding-right: 25px;
}

.CalcMain .CalcDiv .CalcButtonDiv button:hover span:after {
  opacity: 1;
  right: 0;
}

.CalcMain .ProgressDiv {
  float: right;
}

.CalcMain .ProgressDiv h1 {
  padding: 20px 0px 5px;
}

.CalcMain .ProgressDiv .SmallMessage {
  font-weight: normal;
  font-size: 15px;
}

.CalcMain .ProgressDiv p {
  margin: 0px 30px;
}

.CalcMain .ProgressDiv .CodePara {
  text-align: left;
  margin-left: 50px;
}

.CalcMain .img {
  width: 40%;
}
/*# sourceMappingURL=style.css.map */