/* Color schemes
Colorful and balanced
#e27d60
#85dcb
#e8a87c
#c38d9e
#41b3a3

striking and simple (futuristic tech, not professional)
#0b0c10
#1f2833
#c5c6c7
#66fcf1
#45a29e

cheerful and energetic
#fbe8a6
#f4976c
#303c6c
#b4dfe5
#d2fdff
*/
@media only screen and (max-device-width: 1600px) {
  .bg_img-1, .bg_img-2, .bg_img-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .AboutPara {
    display: none;
  }
  .FriendPageVid .video {
    display: none;
  }
}

/*
 @media (min-width: 601px) {
    .ContactSlides {
        width: 66.66666%;
    }
 }
 */
@media (min-width: 601px) {
  .LeftColumn, .ContactInfo {
    width: 33.33333%;
  }
}

@keyframes fadeIn {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

html, body {
  scroll-behavior: smooth;
  font-size: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: 'Roboto', sans-serif;
  color: #303c6c;
  background-color: #fbe8a6;
  height: 100%;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  width: 20px;
  background-color: #fbe8a6;
}

html::-webkit-scrollbar-track, body::-webkit-scrollbar-track {
  border-radius: 50px;
}

html::-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb {
  background: #303c6c;
  border-radius: 50px;
  -webkit-box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset, -8px -8px 12px 0 rgba(0, 0, 0, 0.25) inset;
          box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset, -8px -8px 12px 0 rgba(0, 0, 0, 0.25) inset;
}

a, a:link, a:visited, a:active {
  text-decoration: none;
  color: #303c6c;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-se {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Color schemes
Colorful and balanced
#e27d60
#85dcb
#e8a87c
#c38d9e
#41b3a3

striking and simple (futuristic tech, not professional)
#0b0c10
#1f2833
#c5c6c7
#66fcf1
#45a29e

cheerful and energetic
#fbe8a6
#f4976c
#303c6c
#b4dfe5
#d2fdff
*/
@media only screen and (max-device-width: 1600px) {
  .bg_img-1, .bg_img-2, .bg_img-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .AboutPara {
    display: none;
  }
  .FriendPageVid .video {
    display: none;
  }
}

/*
 @media (min-width: 601px) {
    .ContactSlides {
        width: 66.66666%;
    }
 }
 */
@media (min-width: 601px) {
  .LeftColumn, .ContactInfo {
    width: 33.33333%;
  }
}

@keyframes fadeIn {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* Color schemes
Colorful and balanced
#e27d60
#85dcb
#e8a87c
#c38d9e
#41b3a3

striking and simple (futuristic tech, not professional)
#0b0c10
#1f2833
#c5c6c7
#66fcf1
#45a29e

cheerful and energetic
#fbe8a6
#f4976c
#303c6c
#b4dfe5
#d2fdff
*/
@media only screen and (max-device-width: 1600px) {
  .bg_img-1, .bg_img-2, .bg_img-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .AboutPara {
    display: none;
  }
  .FriendPageVid .video {
    display: none;
  }
}

/*
 @media (min-width: 601px) {
    .ContactSlides {
        width: 66.66666%;
    }
 }
 */
@media (min-width: 601px) {
  .LeftColumn, .ContactInfo {
    width: 33.33333%;
  }
}

@keyframes fadeIn {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.footer {
  width: 100%;
  background-color: #f4976c;
  padding: 30px;
}

.footer a {
  cursor: pointer;
  text-decoration: none;
  color: #303c6c;
  -webkit-transition: color 200ms ease-in-out;
  transition: color 200ms ease-in-out;
}

.footer a:hover {
  color: #303c6c;
}

.footer .FootLinks {
  width: 150px;
  -webkit-columns: 2;
          columns: 2;
  list-style: none;
}

.footer .Footer_links {
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  text-align: center;
}

.footer .Footer_links a:hover {
  text-decoration: underline;
}

.footer .Footer_links a:not(:last-child) {
  margin-right: 3px;
}

.footer .Footer_links img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 30px;
  height: 30px;
  opacity: .5;
  -webkit-transition: .15s;
  transition: .15s;
  margin-right: 10px;
  /*
            &:not(:last-child) {
                margin-right: 10px;
            }
            */
}

.footer .Footer_links img:hover {
  opacity: 1;
  -webkit-transition: .15s;
  transition: .15s;
  cursor: pointer;
}

/* Color schemes
Colorful and balanced
#e27d60
#85dcb
#e8a87c
#c38d9e
#41b3a3

striking and simple (futuristic tech, not professional)
#0b0c10
#1f2833
#c5c6c7
#66fcf1
#45a29e

cheerful and energetic
#fbe8a6
#f4976c
#303c6c
#b4dfe5
#d2fdff
*/
@media only screen and (max-device-width: 1600px) {
  .bg_img-1, .bg_img-2, .bg_img-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .AboutPara {
    display: none;
  }
  .FriendPageVid .video {
    display: none;
  }
}

/*
 @media (min-width: 601px) {
    .ContactSlides {
        width: 66.66666%;
    }
 }
 */
@media (min-width: 601px) {
  .LeftColumn, .ContactInfo {
    width: 33.33333%;
  }
}

@keyframes fadeIn {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.header .nav {
  background-color: #fbe8a6;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.header .nav__links {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
}

.header .nav__links__icon {
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  -webkit-transition: .15s;
  transition: .15s;
}

.header .nav__links a {
  font-weight: 900;
  color: #303c6c;
  padding: 8px 16px;
  float: left;
  width: auto;
  height: 50px;
  border: none;
  display: block;
  outline: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Color schemes
Colorful and balanced
#e27d60
#85dcb
#e8a87c
#c38d9e
#41b3a3

striking and simple (futuristic tech, not professional)
#0b0c10
#1f2833
#c5c6c7
#66fcf1
#45a29e

cheerful and energetic
#fbe8a6
#f4976c
#303c6c
#b4dfe5
#d2fdff
*/
@media only screen and (max-device-width: 1600px) {
  .bg_img-1, .bg_img-2, .bg_img-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .AboutPara {
    display: none;
  }
  .FriendPageVid .video {
    display: none;
  }
}

/*
 @media (min-width: 601px) {
    .ContactSlides {
        width: 66.66666%;
    }
 }
 */
@media (min-width: 601px) {
  .LeftColumn, .ContactInfo {
    width: 33.33333%;
  }
}

@keyframes fadeIn {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.bg_img-1 {
  background-image: url("/images/png-files/parallax_image.png");
  min-height: 100%;
}

.bg_img-2 {
  background-image: url("/images/png-files/parallax_meme_image1.png");
  min-height: 100%;
}

.bg_img-3 {
  background-image: url("/images/png-files/parallax_meme_image2.png");
  min-height: 100%;
}

#BlogHomePage, #BlogAboutPage, #BlogContactPage {
  margin: auto;
  height: 100%;
  width: 100%;
}

.FstParallax, .SecParallax, .ThirParallax {
  opacity: 0.75;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.FstParallax h1, .SecParallax h1, .ThirParallax h1 {
  text-align: center;
  letter-spacing: 10px;
  color: #303c6c;
  font-size: 24px;
}

.FstParallax h1 {
  padding: 12px 24px;
  background-color: #fbe8a6;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.HomePage {
  margin: auto;
  max-width: 900px;
  text-align: center;
  width: 80%;
}

.HomePage h3 {
  margin: 30px 0 10px;
  font-size: 24px;
  font-weight: 400;
}

.HomePage p a:hover {
  text-decoration: underline;
}

.HomePage__fstpara {
  margin: 0 20px;
}

.HomePage .AboutMidSection {
  background-color: #fbe8a6;
  padding: 10px;
}

.HomePage .AboutMidSection .AboutPicture {
  padding: 12px 24px;
  width: 50%;
  float: left;
}

.HomePage .AboutMidSection .AboutPicture p {
  margin: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.HomePage .AboutMidSection .AboutPicture p img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 30px;
  height: 30px;
}

.HomePage .AboutMidSection .AboutPicture img {
  max-width: 100%;
  height: auto;
}

.HomePage .AboutMidSection .AboutPara {
  width: 50%;
  float: right;
  padding: 12px 24px;
}

.SecParallax {
  text-align: center;
  background-position: 0 70%;
}

.SecParallax h1 {
  color: #d2fdff;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 50px;
}

.AboutPage {
  padding-bottom: 30px;
  margin: auto;
  max-width: 900px;
  text-align: center;
}

.AboutPage h3 {
  margin: 30px 0 10px;
  font-size: 24px;
  font-weight: 400;
}

.AboutPage .AboutWorkSection {
  margin: auto;
}

.AboutPage .AboutWorkSection a {
  margin: 10px;
}

.AboutPage .AboutWorkSection a img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 300px;
  width: auto;
  opacity: 0.6;
  margin-bottom: 20px;
}

.AboutPage .AboutWorkSection a img:hover {
  opacity: 1;
}

.AboutPage .AboutWorkSection a h5:hover {
  color: black;
}

.ThirParallax {
  background-position: 0 25%;
}

.ThirParallax h1 {
  color: #d2fdff;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 50px;
}

.ContactPage {
  width: 80%;
  min-height: 550px;
  text-align: center;
  margin: auto;
  padding-bottom: 10px;
}

.ContactPage h3 {
  margin: 30px 0 10px;
  font-size: 24px;
  font-weight: 400;
}

.ContactPage p {
  margin-bottom: 20px;
}

.ContactPage .ContactSection {
  padding: 10px;
}

.ContactPage .ContactSection .ContactSlides {
  width: 50%;
  float: left;
  margin: 0;
  padding: 10px;
}

.ContactPage .ContactSection .ContactSlides p {
  margin: auto;
}

.ContactPage .ContactSection .ContactSlides__slide {
  margin: auto;
  -webkit-animation: fadeIn ease 5s;
          animation: fadeIn ease 5s;
  display: none;
  width: 500px;
  height: 350px;
}

.ContactPage .ContactSection .ContactInfo {
  width: 50%;
  float: left;
  width: 33.33333%;
  padding: 12px 24px;
  vertical-align: middle;
  overflow: hidden;
}

.ContactPage .ContactSection .ContactInfo p {
  margin: 0;
}

.ContactPage .ContactSection .ContactInfo p img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

/* Color schemes
Colorful and balanced
#e27d60
#85dcb
#e8a87c
#c38d9e
#41b3a3

striking and simple (futuristic tech, not professional)
#0b0c10
#1f2833
#c5c6c7
#66fcf1
#45a29e

cheerful and energetic
#fbe8a6
#f4976c
#303c6c
#b4dfe5
#d2fdff
*/
main {
  background-color: #fbe8a6;
  max-width: 1400px;
  margin: auto;
}

main hr {
  border: 0;
  border-top: 1px solid #b4dfe5;
  margin: 20px 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.LeftColumn {
  margin: 16px;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.LeftColumn .PicSection {
  position: relative;
}

.LeftColumn .PicSection img {
  width: 100%;
}

.LeftColumn .PicSection__display {
  background-color: #f4976c;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 16px;
  text-align: center;
  width: 100%;
}

.LeftColumn .PicSection__display h3 {
  font-size: 30px;
  font-weight: bolder;
}

.LeftColumn .StatSection {
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  margin: 0 16px;
}

.LeftColumn .StatSection img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.LeftColumn .StatSection p {
  margin: 1rem 0;
}

.LeftColumn .StatSection h3 {
  font-size: 18px;
  margin: 10px 0;
}

.LeftColumn .StatSection .progress {
  background-color: #b4dfe5;
  border-radius: 16px;
}

.LeftColumn .StatSection .progress__bar {
  color: #d2fdff;
  border-radius: 16px;
  font-size: 12px;
  background-color: #303c6c;
  text-align: center;
}

.LeftColumn .StatSection .progress__bar__num1 {
  width: 70%;
}

.LeftColumn .StatSection .progress__bar__num2 {
  width: 50%;
}

.LeftColumn .StatSection .progress__bar__num3 {
  width: 50%;
}

.LeftColumn .StatSection .progress__bar__num4 {
  width: 40%;
}

.LeftColumn .StatSection .progress__bar__num5 {
  width: 20%;
}

.RightColumn {
  margin: 0 16px;
}

.RightColumn h2 {
  padding: 8px 0;
  margin: 8px 0;
}

.RightColumn h2 img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 60px;
  height: 60px;
  margin-right: 16px;
}

.RightColumn img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.RightColumn h5, .RightColumn h6 {
  margin: 10px 0;
}

.RightColumn h5 {
  font-size: 18px;
}

.RightColumn h6 {
  font-size: 14px;
}

.RightColumn .StateSection {
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 16px;
  padding-bottom: 32px;
  margin: 16px 0;
  text-align: center;
}

.RightColumn .StateSection h2 {
  padding: 0;
}

.RightColumn .WorkSection {
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 16px;
  padding-bottom: 32px;
  margin: 16px 0;
}

.RightColumn .WorkSection__work {
  padding: 0 16px;
}

.RightColumn .ProjectSection {
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 16px;
  padding-bottom: 32px;
  margin: 16px 0;
}

.RightColumn .ProjectSection__project {
  padding: 0 16px;
}

.RightColumn .ProjectSection__project a:hover {
  text-decoration: underline;
}

.RightColumn .EduSection {
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 16px;
  padding-bottom: 32px;
  margin: 16px 0;
}

.RightColumn .EduSection__school {
  padding: 0 16px;
}

.RightColumn .CertSection {
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 16px;
  padding-bottom: 32px;
  margin: 16px 0;
}

.RightColumn .CertSection__cert {
  padding: 0 16px;
}

/* Color schemes
Colorful and balanced
#e27d60
#85dcb
#e8a87c
#c38d9e
#41b3a3

striking and simple (futuristic tech, not professional)
#0b0c10
#1f2833
#c5c6c7
#66fcf1
#45a29e

cheerful and energetic
#fbe8a6
#f4976c
#303c6c
#b4dfe5
#d2fdff
*/
@media only screen and (max-device-width: 1600px) {
  .bg_img-1, .bg_img-2, .bg_img-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .AboutPara {
    display: none;
  }
  .FriendPageVid .video {
    display: none;
  }
}

/*
 @media (min-width: 601px) {
    .ContactSlides {
        width: 66.66666%;
    }
 }
 */
@media (min-width: 601px) {
  .LeftColumn, .ContactInfo {
    width: 33.33333%;
  }
}

@keyframes fadeIn {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.bg_img-friend {
  background-image: url("/images/png-files/about_image2.png");
  min-height: 100%;
}

.bg_img-movie {
  background-image: url("/images/png-files/master-oogway2.png");
  min-height: 100%;
  background-position: 40%;
}

.bg_img-cook {
  background-image: url("/images/png-files/anthony-bourdain.png");
  min-height: 100%;
  background-position: 0 15%;
}

#BlogFriendPage, #BlogMoviePage, #BlogCookPage {
  margin: auto;
  height: 100%;
  width: 100%;
}

#BlogFriendPage h1, #BlogMoviePage h1, #BlogCookPage h1 {
  background: none;
  color: #d2fdff;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 50px;
}

#BlogMoviePage h1 {
  margin-left: 50px;
  font-size: 20px;
  left: 0;
}

.FriendPage {
  margin: 16px 0;
  text-align: center;
}

.FriendPage__topic h3 {
  font-size: 30px;
}

.FriendPage .FriendPageMid {
  background-color: #fbe8a6;
  padding: 10px;
}

.FriendPage .FriendPageMid .video {
  height: 300px;
}

.FriendPage .FriendPageMid__josh {
  width: 50%;
  float: left;
}

.FriendPage .FriendPageMid__andrew {
  width: 50%;
  float: right;
}

.FriendPage .FriendPageVid .video {
  height: 300px;
}

.MoviePage {
  margin: 16px 0;
  text-align: center;
}

#BlogCookPage h1 {
  font-size: 30px;
}

.CookPage {
  margin: 16px 0;
  text-align: center;
}

.CookPage__topic {
  max-width: 60%;
  margin: auto;
}

/* Color schemes
Colorful and balanced
#e27d60
#85dcb
#e8a87c
#c38d9e
#41b3a3

striking and simple (futuristic tech, not professional)
#0b0c10
#1f2833
#c5c6c7
#66fcf1
#45a29e

cheerful and energetic
#fbe8a6
#f4976c
#303c6c
#b4dfe5
#d2fdff
*/
@media only screen and (max-device-width: 1600px) {
  .bg_img-1, .bg_img-2, .bg_img-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .AboutPara {
    display: none;
  }
  .FriendPageVid .video {
    display: none;
  }
}

/*
 @media (min-width: 601px) {
    .ContactSlides {
        width: 66.66666%;
    }
 }
 */
@media (min-width: 601px) {
  .LeftColumn, .ContactInfo {
    width: 33.33333%;
  }
}

@keyframes fadeIn {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

body p {
  text-align: center;
}

body .TopLink {
  text-align: center;
}

#WeeklyRes {
  margin: auto;
  width: 100%;
}

#WeeklyRes h1 {
  background: none;
  color: #303c6c;
  font-size: 50px;
}

.WR {
  padding: 0px 20px;
}

.WR .Week1, .WR .Week2, .WR .Week3, .WR .Week4, .WR .Week5, .WR .Week6, .WR .Week7, .WR .Week8, .WR .Week9, .WR .Week10 {
  padding: 10px 0px;
}

.WR .Week1 h2, .WR .Week1 h3, .WR .Week2 h2, .WR .Week2 h3, .WR .Week3 h2, .WR .Week3 h3, .WR .Week4 h2, .WR .Week4 h3, .WR .Week5 h2, .WR .Week5 h3, .WR .Week6 h2, .WR .Week6 h3, .WR .Week7 h2, .WR .Week7 h3, .WR .Week8 h2, .WR .Week8 h3, .WR .Week9 h2, .WR .Week9 h3, .WR .Week10 h2, .WR .Week10 h3 {
  padding: 5px 0px;
}

.WR .Week1 embed, .WR .Week2 embed, .WR .Week3 embed, .WR .Week4 embed, .WR .Week5 embed, .WR .Week6 embed, .WR .Week7 embed, .WR .Week8 embed, .WR .Week9 embed, .WR .Week10 embed {
  width: 100%;
  height: 600px;
  -o-object-fit: contain;
     object-fit: contain;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.WR .Week1__quiz, .WR .Week2__quiz, .WR .Week3__quiz, .WR .Week4__quiz, .WR .Week5__quiz, .WR .Week6__quiz, .WR .Week7__quiz, .WR .Week8__quiz, .WR .Week9__quiz, .WR .Week10__quiz {
  width: 49%;
  float: left;
  padding: 10px;
  background-color: #f4976c;
  border-radius: 25px;
}

.WR .Week1__product, .WR .Week2__product, .WR .Week3__product, .WR .Week4__product, .WR .Week5__product, .WR .Week6__product, .WR .Week7__product, .WR .Week8__product, .WR .Week9__product, .WR .Week10__product {
  width: 49%;
  float: right;
  padding: 10px;
  background-color: #f4976c;
  border-radius: 25px;
}

.WR .Week1 .Week9_product, .WR .Week2 .Week9_product, .WR .Week3 .Week9_product, .WR .Week4 .Week9_product, .WR .Week5 .Week9_product, .WR .Week6 .Week9_product, .WR .Week7 .Week9_product, .WR .Week8 .Week9_product, .WR .Week9 .Week9_product, .WR .Week10 .Week9_product {
  width: 49%;
}

.footer {
  position: relative;
  margin-top: -180px;
  clear: both;
}

#SConcept, #SSkill, #SConnect, #BioCon, #BioSkill, #BioConnect, #HCon, #HSkill, #HConnect {
  margin: auto;
  width: 50%;
  text-align: center;
  /*
    p{
        margin-left: 50px;
        margin-right: 50px;
    }
    */
}

#SConcept h1, #SSkill h1, #SConnect h1, #BioCon h1, #BioSkill h1, #BioConnect h1, #HCon h1, #HSkill h1, #HConnect h1 {
  background: none;
  color: #303c6c;
  font-size: 50px;
}

#SConcept .icon, #SSkill .icon, #SConnect .icon, #BioCon .icon, #BioSkill .icon, #BioConnect .icon, #HCon .icon, #HSkill .icon, #HConnect .icon {
  width: auto;
  vertical-align: middle;
  height: 80px;
}

.SciConcept, .SciSkill, .SciConnect, .BioConcept, .BioSkill, .BioConnect, .HumanConcept, .HumanSkill, .HumanConnect {
  margin: 10px;
  padding: 20px;
  /*
    table {
        border-collapse: collapse;
        border: 2px black solid;
    }
    td {
        border: 1px black solid;
        padding: 5px;
    }
    */
}

.SciConcept ol, .SciSkill ol, .SciConnect ol, .BioConcept ol, .BioSkill ol, .BioConnect ol, .HumanConcept ol, .HumanSkill ol, .HumanConnect ol {
  text-align: left;
  font-size: small;
}

.SciSkill embed {
  width: 100%;
  height: 600px;
  -o-object-fit: contain;
     object-fit: contain;
}

.SciConnect .bib {
  text-align: left;
}

.SciConnect .bib p, .SciConnect .bib a {
  font-size: small;
  text-align: left;
}

.SciConnect .bib h3 {
  text-align: center;
}

.SciConnect .bib a:link {
  text-decoration: none;
}

.SciConnect .bib a:visited {
  text-decoration: none;
}

.SciConnect .bib a:hover {
  text-decoration: underline;
}

.BioConcept {
  height: 50%;
}

.BioConcept .GIT_image {
  height: 80%;
  width: auto;
}

.BioSkill p {
  text-align: left;
}

.BioSkill dl {
  text-align: left;
}

.BioSkill .list {
  width: 50%;
}

.BioSkill .list1 {
  float: left;
}

.BioSkill .list2 {
  float: right;
}

.BioConnect .Week6_ref {
  width: 50%;
  float: left;
}

.BioConnect .Week10_ref {
  width: 50%;
  float: right;
}

.HumanConcept .Digestion_image {
  height: auto;
  width: 70%;
}

body {
  margin-top: 50px;
  margin-bottom: 50px;
}

body .TopLink {
  text-align: center;
}

.BodyDataTable {
  border-collapse: collapse;
  border: 2px black solid;
  width: 85%;
  height: 500px;
}

.footer {
  position: relative;
  margin: 0px;
  clear: both;
}

/* Color schemes
Colorful and balanced
#e27d60
#85dcb
#e8a87c
#c38d9e
#41b3a3

striking and simple (futuristic tech, not professional)
#0b0c10
#1f2833
#c5c6c7
#66fcf1
#45a29e

cheerful and energetic
#fbe8a6
#f4976c
#303c6c
#b4dfe5
#d2fdff
*/
@media only screen and (max-device-width: 1600px) {
  .bg_img-1, .bg_img-2, .bg_img-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}

@media (max-width: 767px) {
  .AboutPara {
    display: none;
  }
  .FriendPageVid .video {
    display: none;
  }
}

/*
 @media (min-width: 601px) {
    .ContactSlides {
        width: 66.66666%;
    }
 }
 */
@media (min-width: 601px) {
  .LeftColumn, .ContactInfo {
    width: 33.33333%;
  }
}

@keyframes fadeIn {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.CalcMain {
  scroll-behavior: smooth;
  font-size: 100%;
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;
}

.CalcMain .HalfDiv {
  position: relative;
  top: 3%;
  background-color: #f4976c;
  border-radius: 25px;
  width: 48%;
  height: auto;
  padding: 20px;
  margin: 10px;
  -webkit-box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.CalcMain .CalcDiv {
  float: left;
}

.CalcMain .CalcDiv h1 {
  padding: 10px 0px 0px;
}

.CalcMain .CalcDiv p {
  font-weight: bold;
}

.CalcMain .CalcDiv input {
  background-color: #d2fdff;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border-radius: 25px;
  border: 2px solid #b4dfe5;
}

.CalcMain .CalcDiv .CalcButtonDiv {
  margin: 20px;
}

.CalcMain .CalcDiv .CalcButtonDiv button {
  background-color: #d2fdff;
  color: #303c6c;
  font-weight: bold;
  font-size: 15px;
  border-radius: 25px;
  border: 2px solid #b4dfe5;
  margin: 1rem;
  height: 100px;
  width: 100px;
  overflow: hidden;
  outline: none;
}

.CalcMain .CalcDiv .CalcButtonDiv button:hover {
  -webkit-box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(180, 223, 229, 0.3);
          box-shadow: 12px 12px 16px 0 rgba(0, 0, 0, 0.25), -8px -8px 12px 0 rgba(180, 223, 229, 0.3);
}

.CalcMain .CalcDiv .CalcButtonDiv button:hover span {
  padding-right: 25px;
}

.CalcMain .CalcDiv .CalcButtonDiv button:hover span:after {
  opacity: 1;
  right: 0;
}

.CalcMain .ProgressDiv {
  float: right;
}

.CalcMain .ProgressDiv h1 {
  padding: 20px 0px 5px;
}

.CalcMain .ProgressDiv .SmallMessage {
  font-weight: normal;
  font-size: 15px;
}

.CalcMain .ProgressDiv p {
  margin: 0px 30px;
}

.CalcMain .ProgressDiv .CodePara {
  text-align: left;
  margin-left: 50px;
}

.CalcMain .img {
  width: 40%;
  float: left;
}
/*# sourceMappingURL=style.css.map */